@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@500;600;700;800&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #4F46E5;
  --color-secondary: #06B6D4;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #F8FAFC;
  color: #0F172A;
}

